:root {
  --background-color: #fff;

  --font-size: 16px;
  --font-size-g: 24px;
  --font-weight: 300;
  --font-weight-bold: 900;

  --max-width: 900px;
  --border-radius: 12px;
  --font-mono: Poppins, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --mobile-breakpoint: 300px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0A192F;
  }
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes backgroundShift {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

body {
  background: var(--background-color);
  background-size: 400% 400%;
  animation: backgroundShift 15s ease infinite;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}